<!--
  ~ Copyright (c) 2019 by uis
  ~ Author: uis
  ~ Github: https://github.com/luiing
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uis.groupadater.demo">
    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.uis.adsorbent.demo.DemoUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.uis.adsorbent.demo.SingleRecyclerUi"/>
        <activity android:name="com.uis.adsorbent.demo.DoubleRecyclerUi"/>
        <activity android:name="com.uis.adsorbent.demo.ViewpagerRecyclerUi"/>
        <activity android:name="com.uis.adsorbent.demo.ViewpagerSwipeRefreshUi"/>
    </application>
</manifest>
